*
{
  margin: 0;
  padding: 0;
}

.form1
{
  margin-top: 8%;
  margin-left: 15%;
}

.form1 input{
  margin-left: 5%;
  height: 5vh;
  background-color: antiquewhite;
  border: none;
  border-radius: 10px;
  
}

.form1 button
{
  margin-left: 5%;
  padding: 10px 20px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
}